@import "../../../styles/layout.scss";
@import "../../../styles/device.scss";

.footer {
  border-top: 1px solid #eaeaea;
  padding: $layout-padding;
}

.footer_menu {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 14px;
  border-bottom: 1px solid #ccc;
  margin-bottom: 16px;
}

.footer_menu_list {
  margin-bottom: 16px;
  margin-right: 24px;
}

.company_info_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media (min-width: $pc-view) {
    flex-direction: row-reverse;
    justify-content: space-between;
  }
}
